.entry
  .gallery-slider
    #gallery1.gallery-container
      .slide-item
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_1.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_01.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_2.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_02.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_3.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_03.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_4.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_04.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_5.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_05.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_6.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_06.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/photo_big_1.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_07.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/photo_big_2.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_08.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/photo_big_3.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_09.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .clear
      / / slide
      .slide-item
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_4.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_04.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_5.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_05.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_1.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_01.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_2.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_02.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_3.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_03.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_6.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_06.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/photo_big_1.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_07.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/photo_big_2.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_08.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/photo_big_3.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_09.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .clear
      / / slide
      .slide-item
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_3.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_03.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_6.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_06.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/photo_big_1.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_07.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/photo_big_2.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_08.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_4.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_04.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_5.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_05.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_1.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_01.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_2.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_02.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/photo_big_3.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_09.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .clear
      / / slide
      .slide-item
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/photo_big_2.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_08.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/photo_big_3.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_09.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_4.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_04.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_5.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_05.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .frame_box.frame_small
          %a{"data-rel" => "prettyPhoto[mg_1]", :href => "/assets/temp/post_img_3.jpg"}
            %img{:alt => "", :height => "93", :src => "/assets/temp/gallery_03.jpg", :width => "135"}/
          %span.img_tl
          %span.img_tr
          %span.img_bl
          %span.img_br
        .clear
      / / slide
    .clear