.entry
  .frame_box.frame_big
    %img{:alt => "", :height => "192", :src => "/assets/temp/post_img_2.jpg", :width => "450"}/
    %span.img_tl
    %span.img_tr
    %span.img_bl
    %span.img_br
  %h1 Getting to the Ceremony & Reception
  .text_center
    %p
      The ceremony and reception will be held at the Roosevelt Hotel, located at at 129 W. 45th Street, Midtown Manhattan, New York starting from 7:00 PM on September 7, 2013
  .clear
  .frame_box.frame_big
    %img{:alt => "", :height => "192", :src => "/assets/temp/post_img_3.jpg", :width => "450"}/
    %span.img_tl
    %span.img_tr
    %span.img_bl
    %span.img_br
  %h1 Accomodations in New York
  .text_center
    %p
      Check out our room blocks, bitches.
      = link_to "Hotels", hotels_path
  .clear
  .frame_box.frame_big
    %img{:alt => "", :height => "192", :src => "/assets/temp/post_img_3.jpg", :width => "450"}/
    %span.img_tl
    %span.img_tr
    %span.img_bl
    %span.img_br
  %h1 Enjoying New York City
  .text_center
    %p
      Out of town guests go here.
      = link_to "New York City", nyc_path
  .clear

/ bottom box content
.bot_box
  .bot_box_inner
    %a.box_icon.icon_map{"data-rel" => "prettyPhoto", :href => "https://maps.google.com/maps?q=79+Broadway,+Lower+Manhattan,+New+York&hl=en&sll=40.707668,-74.01179&sspn=0.010459,0.026157&t=m&hnear=79+Broadway,+New+York,+10006&z=15&output=embed?iframe=true&width=460&height=345", :target => "_blank"}
    %p
      NOT FAMILIAR WITH THE LOCATION?
      %a.link-more{"data-rel" => "prettyPhoto", :href => "https://maps.google.com/maps?q=79+Broadway,+Lower+Manhattan,+New+York&hl=en&sll=40.707668,-74.01179&sspn=0.010459,0.026157&t=m&hnear=79+Broadway,+New+York,+10006&z=15&output=embed?iframe=true&width=460&height=345", :target => "_blank"} VIEW ON MAP
