.entry
  .frame_box.frame_big
    %img{:alt => "", :height => "192", :src => "/assets/temp/post_img_6.jpg", :width => "450"}/
    %span.img_tl
    %span.img_tr
    %span.img_bl
    %span.img_br
  %h1
    Book your hotel by August 1st,
    %br/
    to receive the group rate!
  %p Find all the information you'll need to get here and enjoy your stay. We can't wait to see you! Find the details below:
  .clear
.hotels_list
  .hotel-item
    %h3
      HOTEL OPTION 1:
      %a{:href => "#"} HILTON GARDEN RESORT
    %a.box_icon.icon_map{"data-rel" => "prettyPhoto", :href => "https://maps.google.com/maps?q=Hilton+Hotel+102+West+57th+Street+New+York,+NY&hl=en&sll=40.764369,-73.977906&sspn=0.0836,0.209255&t=m&hq=Hilton+Hotel+102+West+57th+Street+New+York,+NY&radius=15000&z=15&output=embed?iframe=true&width=460&height=345", :target => "_blank"}
    .item_descr
      %p
        We have a group
        = succeed "." do
          %strong rate of $89 per night
        Please use this
        %a{:href => "#"} link
        or call 927 286-1220 and ask for the Waldorf / Chelsey Wedding to receive the discounted rate.
    .clear
  .hotel-item
    %h3
      HOTEL OPTION 1:
      %a{:href => "#"} MARRIOT SPA & HOTEL
    %a.box_icon.icon_map{"data-rel" => "prettyPhoto", :href => "https://maps.google.com/maps?q=79+Broadway,+Lower+Manhattan,+New+York&hl=en&sll=40.707668,-74.01179&sspn=0.010459,0.026157&t=m&hnear=79+Broadway,+New+York,+10006&z=15&output=embed?iframe=true&width=460&height=345", :target => "_blank"}
    .item_descr
      %p
        We have a group
        = succeed "." do
          %strong rate of $89 per night
        Please use this
        %a{:href => "#"} link
        or call 927 286-1220 and ask for the Waldorf / Chelsey Wedding to receive the discounted rate.
    .clear
