.entry
  .frame_box.frame_big
    %img{:alt => "", :height => "192", :src => "/assets/temp/post_img_6.jpg", :width => "450"}/
    %span.img_tl
    %span.img_tr
    %span.img_bl
    %span.img_br
  %h1
    Book your hotel by August 6th,
    %br/
    to receive the group rate!
  %p
    For your comfort and convenience, we have made the following hotel arrangements.  A limited number of rooms have been reserved at a special rate and reservations
    are accommodated on a first-come, first-served basis. These rates are available by using the links provided or by mentioning the Tregub/Shin wedding until the dates specified:
  .clear
.hotels_list
  .hotel-item
    %h3
      The Wedding Venue:
      %a{:href => "https://www.reservations-page.com/C00268/H01416/be.ashx?pc=TRE"}
        The Roosevelt Hotel
    %a.box_icon.icon_map{"data-rel" => "prettyPhoto", :href => "http://goo.gl/maps/YcIz2", :target => "_blank"}
    .item_descr
      %p
        Rooms are available at the Roosevelt Hotel for
        %strong
          $239 per night
        until
        %strong
          August 15.
        Our wedding ceremony and reception will be held here, so this location will be more convenient the day of. To make a reservation, please use the following
        %a{:href => "https://www.reservations-page.com/C00268/H01416/be.ashx?pc=TRE"}
          link
        or call the number below.

      %br
        45 East 45th Street
      %br
        New York, NY 10017
      %br
        1-888-833-3969
    .clear
  .hotel-item
    %h3
      %a{:href => "https://www.starwoodmeeting.com/StarGroupsWeb/res?id=1305217962&key=915D6"}
        W New York
    %a.box_icon.icon_map{"data-rel" => "prettyPhoto", :href => "http://goo.gl/maps/r2Vqs", :target => "_blank"}
    .item_descr
      %p
        Rooms are available at the W New York for
        %strong
          rate of $219 per night
        until
        %strong
          August 6.
        This hotel is located in a beautiful part of Manhattan about half a mile from the wedding ceremony and reception location. It costs about $6 to cab from here to the Roosevelt Hotel.
        To make a reservation, please use the following
        %a{:href => "https://www.starwoodmeeting.com/StarGroupsWeb/res?id=1305217962&key=915D6"}
          link
        or call the number below.
      %br
        541 Lexington Avenue
      %br
        New York, NY 10022
      %br
        212-755-1200
    .clear

  .hotel-item
    %h3
      %a{:href => "https://www.starwoodmeeting.com/Book/ktwedding"}
        Westin New York Grand Central
    %a.box_icon.icon_map{"data-rel" => "prettyPhoto", :href => "http://goo.gl/maps/2ujtc", :target => "_blank"}
    .item_descr
      %p
        Rooms are available at the Westin New York Granc Central for
        %strong
          rate of $219 per night
        until
        %strong
          August 6.
        This hotel is located about half a mile from the wedding ceremony and reception location. It will cost about $6 to cab from here to the Roosevelt Hotel.
        To make a reservation, please use the following
        %a{:href => "https://www.starwoodmeeting.com/Book/ktwedding"}
          link
        or call the number below.
      %br
        212 East 42nd Street
      %br
        New York, NY,10017
      %br
        212-490-8900
    .clear