.entry
  .frame_box.frame_big
    = image_tag "kanda/14.jpg", :height => "300", :width => "450"
    %span.img_tl
    %span.img_tr
    %span.img_bl
    %span.img_br

  %h1
    Book your hotel by August 6th,
    %br/
    to receive the group rate!
  %p
    For your comfort and convenience, we have made the following hotel arrangements.  A limited number of rooms have been reserved at a special rate and reservations
    are accommodated on a first-come, first-served basis. These rates are available by using the links provided or by mentioning the Tregub/Shin wedding until the dates specified:
  .clear
  .frame_box.frame_big
    %img{:alt => "", :height => "192", :src => "/assets/map.png", :width => "450"}/
    %span.img_tl
    %span.img_tr
    %span.img_bl
    %span.img_br

.hotels_list
  .hotel-item
    %h3
      The Wedding Venue:
      %a{:href => "https://www.reservations-page.com/C00268/H01416/be.ashx?pc=TRE", :target => "_blank"}
        The Roosevelt Hotel
    %a.box_icon.icon_map{"data-rel" => "prettyPhoto", :href => "http://goo.gl/maps/AqlwK", :target => "_blank"}
    .item_descr
      %p
        Rooms are available at the Roosevelt Hotel for the
        %strong
          $239 per night
        until
        %strong
          August 15.
        This is the location of the wedding ceremony and reception. The other hotel options are all within a short walking distance, however, you may find it more convenient to stay here. To make a reservation, please use the following
        %a{:href => "https://www.reservations-page.com/C00268/H01416/be.ashx?pc=TRE", :target => "_blank"}
          link
        or call the number below.

      %br
        45 East 45th Street
      %br
        New York, NY 10017
      %br
        1-888-833-3969
    .clear
  .hotel-item
    %h3
      %a{:href => "https://www.starwoodmeeting.com/StarGroupsWeb/res?id=1305217962&key=915D6", :target => "_blank"}
        W New York
    %a.box_icon.icon_map{"data-rel" => "prettyPhoto", :href => "http://goo.gl/maps/0EOtx", :target => "_blank"}
    .item_descr
      %p
        Rooms are available at the W New York for the
        %strong
          rate of $229 per night
        until
        %strong
          August 6.
        The W New York, not to be confused with W Times Square, is located only 8 blocks from the wedding location.  Plan for about 8-10 minutes by foot or a short, $6 ride by cab.
        To make a reservation, please use the following
        %a{:href => "https://www.starwoodmeeting.com/StarGroupsWeb/res?id=1305217962&key=915D6", :target => "_blank"}
          link
        or call the number below.
      %br
        541 Lexington Avenue
      %br
        New York, NY 10022
      %br
        212-755-1200
    .clear

  .hotel-item
    %h3
      %a{:href => "https://www.starwoodmeeting.com/Book/ktwedding", :target => "_blank"}
        Westin New York Grand Central
    %a.box_icon.icon_map{"data-rel" => "prettyPhoto", :href => "http://goo.gl/maps/pg7pR", :target => "_blank"}
    .item_descr
      %p
        Rooms are available at the Westin New York Grand Central for the
        %strong
          rate of $219 per night
        until
        %strong
          August 6.
        The Westin Grand Central is located about 10 blocks away from the wedding location.  Plan for about 10-12 minutes by foot or a short, $6-8 ride by cab.
        To make a reservation, please use the following
        %a{:href => "https://www.starwoodmeeting.com/Book/ktwedding", :target => "_blank"}
          link
        or call the number below.
      %br
        212 East 42nd Street
      %br
        New York, NY,10017
      %br
        212-490-8900
    .clear