.entry
  / image in frame
  .frame_box.frame_big
    = image_tag "kanda/28.jpg", :height => "300", :width => "450"
    %img{:alt => "", }/
    %span.img_tl
    %span.img_tr
    %span.img_bl
    %span.img_br
  / / image in frame
  .content
    %h1
      He Proposed.....and I Said YES!
    %p.text-center
      We are so happy that you are sharing our wedding day with us. It means so much to us to have our family and friends loving and supporting us as we begin our amazing journey together.
    %p.text-center
      Our wedding is on Saturday, September 7, 2013 at 7 PM at the Roosevelt Hotel in New York City. Important information about our wedding will be available for you here. For those of you who will be coming in from
      out of town, we will provide you with helpful information on
      = link_to "Accommodations", hotels_path
      , Local Activities, and other info to help you plan your travel arrangements when it comes time to do so. Hopefully some of you will decide to make a vacation out of it! You can never run out of things to do in NYC ☺!
    %p.text-center
      Please check back often as we will be making frequent updates to the website as the plans progress. If you have any questions, don't hesitate to email us anytime (ktregub[at]gmail.com).
    %p.text-center
      Love,
      %br
      Karina and Andy
  .clear
