.entry
  / image in frame
  .frame_box.frame_big
    = image_tag "kanda/before-proposal.png", :height => "300", :width => "450"
    %img{:alt => "", }/
    %span.img_tl
    %span.img_tr
    %span.img_bl
    %span.img_br
  / / image in frame
  .text_big
    %p
      Our ceremony & reception will be held at
      %br
      %span.text-black
        The Roosevelt Hotel
        -#= link_to "The Roosevelt Hotel", gettinghere_path
      in
      %span.text-black
        New York City
        -#something
        -#= link_to "New York City, NY", nyc_path
      %br
      on September 7th, 2013 at 7:00pm.



  .clear
.social_box
  %p
    We look forward to celebrating our special day with you.
  %p
    Please check back soon for more information.