.entry
  .text_small
    %p
      What we want most for our wedding is to have all of our family and closest friends in the same room, and so, more than anything,
      we consider your presence to be our present.
    %p
      If you would like to give us something tangible, please visit our Bloomingdales registry or help send us on our honeymoon to the Maldives, Almalfi Coast, Capri, Paris, and Amsterdam.

  .divider_space_thin
  .row
    .col.col_1_3
    .col.col_2_3
      %a{:href => "http://www1.bloomingdales.com/registry/wedding/guest/?registryId=2025804", :target=>:_blank}
        %img{:alt => "", :height => "146", :src => "/assets/temp/register_img_1.png", :width => "146"}/
      .register_name
        Bloomingdales
        %br
        %a{:href => "http://www1.bloomingdales.com/registry/wedding/guest/?registryId=2025804", :target=>:_blank} GO TO REGISTRY
    .col.col_3_3
  .divider_space
  .clear