.entry
  .text_big
    %p
      We are registered at the following stores. Just
      %strong click the photo or the name
      of the store to go right to our registry. Thank you so much!
  .divider_space_thin
  .row
    .col.col_1_3
      %a{:href => "#"}
        %img{:alt => "", :height => "146", :src => "/assets/temp/register_img_1.png", :width => "146"}/
      .register_name
        Bed Bath & Beyond
        %br/
        %a{:href => "#"} GO TO STORE
    .col.col_1_3
      %a{:href => "#"}
        %img{:alt => "", :height => "146", :src => "/assets/temp/register_img_2.png", :width => "146"}/
      .register_name
        Target
        %br/
        %a{:href => "#"} GO TO STORE
    .col.col_1_3
      %a{:href => "#"}
        %img{:alt => "", :height => "146", :src => "/assets/temp/register_img_3.png", :width => "146"}/
      .register_name
        Amazon
        %br/
        %a{:href => "#"} GO TO STORE
  .divider_space
  .clear
.bot_box
  .bot_box_inner
    %span.box_icon.icon_rsvp
    %p
      DON’T FORGET TO RSVP! YOU CAN DO THAT
      %a.link-more{:href => "rsvp.html"} HERE
