.entry
  .text_small
    %p
      We are so honored and happy to have you as our guests.

  .divider_space_thin
  .row
    .col.col_2_3
      %a{:href => "#"}
        %img{:alt => "", :height => "146", :src => "/assets/temp/register_img_1.png", :width => "146"}/
      .register_name
        Bloomingdales
        %br/
        %a{:href => "http://www1.bloomingdales.com/registry/wedding/guest/?registryId=2025804", :target=>:_blank} GO TO STORE
    .col.col_3_3
  .divider_space
  .clear
.bot_box
  .bot_box_inner
    %span.box_icon.icon_rsvp
    %p
      DON’T FORGET TO RSVP! YOU CAN DO THAT
      %a.link-more{:href => "rsvp.html"} HERE
