<!doctype html>
/[if lt IE 7 ] <html lang="en" class="no-js ie6">
/[if IE 7 ] <html lang="en" class="no-js ie7">
/[if IE 8 ] <html lang="en" class="no-js ie8">
/[if IE 9 ] <html lang="en" class="no-js ie9">
/ [if (gt IE 9)|!(IE)]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Wedding - Blog
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Copse|Six+Caps|Source+Sans+Pro:400,700", :rel => "stylesheet"}/
    / Mobile viewport optimized: h5bp.com/viewport
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    / favicon.ico and apple-touch-icon.png
    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon-57x57-iphone.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72-ipad.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114-iphone4.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "style.css", :rel => "stylesheet"}/
    %link{:href => "screen.css", :rel => "stylesheet"}/
    %link{:href => "styles/beige-turqoise.css", :rel => "stylesheet"}/
    / custom CSS
    %link{:href => "custom.css", :rel => "stylesheet"}/
    / main JS libs
    %script{:src => "js/libs/modernizr-2.5.3.min.js"}
    %script{:src => "js/libs/respond.min.js"}
    %script{:src => "js/libs/jquery.min.js"}
    / scripts
    %script{:src => "js/jquery.easing.1.3.min.js"}
    %script{:src => "js/general.js"}
  %body{:style => "background:url(/assets/bg/body_image_1.jpg) fixed center top no-repeat"}
    .body_wrap
      .main_outer
        .main_top
        .main_mid
          / header
          .header
            .head_title
              %strong We’re Getting Married
              %p.sub_title
                SATURDAY, 21
                %sup st
                AUGUST 2012
            .head_names
              .head_name_left
                %span.head_name
                  %strong JAMES
                  %em WALDORF
              %span.head_amp
                %img{:alt => "", :height => "122", :src => "styles/beige-turqoise/head_amp.png", :width => "125"}/
              .head_name_right
                %span.head_name
                  %strong MAYRA
                  %em CHELSEY
              %span.ribbon_left
              %span.ribbon_right
          / header
          / topmenu
          .topmenu_line_top
          %nav#topmenu
            %ul.dropdown
              %li.menu-level-0
                %a{:href => "index.html"}
                  %span HOME
                %ul.submenu-1
                  %li.menu-level-1
                    %a{:href => "#"}
                      %span Theme Colors
                    %ul.submenu-2
                      %li.menu-level-2
                        %a{:href => "../BeigeTurqoise/index.html"}
                          %span Beige Turqoise
                      %li.menu-level-2
                        %a{:href => "../BluePink/index.html"}
                          %span Blue Pink
                      %li.menu-level-2
                        %a{:href => "../GreenRed/index.html"}
                          %span Green Red
                      %li.menu-level-2
                        %a{:href => "../PurpleOrange/index.html"}
                          %span Purple Orange
                  %li.menu-level-1
                    %a{:href => "#"}
                      %span Pattern 1
                    %ul.submenu-2
                      %li.menu-level-2
                        %a{:href => "index-1-blue.html"}
                          %span Blue
                      %li.menu-level-2
                        %a{:href => "index-1-green.html"}
                          %span Green
                      %li.menu-level-2
                        %a{:href => "index-1-pink.html"}
                          %span Pink
                      %li.menu-level-2
                        %a{:href => "index-1-yellow.html"}
                          %span Yellow
                      %li.menu-level-2
                        %a{:href => "index-1-purple.html"}
                          %span Purple
                  %li.menu-level-1
                    %a{:href => "#"}
                      %span Pattern 2
                    %ul.submenu-2
                      %li.menu-level-2
                        %a{:href => "index-2-blue.html"}
                          %span Blue
                      %li.menu-level-2
                        %a{:href => "index-2-green.html"}
                          %span Green
                      %li.menu-level-2
                        %a{:href => "index-2-pink.html"}
                          %span Pink
                      %li.menu-level-2
                        %a{:href => "index-2-yellow.html"}
                          %span Yellow
                      %li.menu-level-2
                        %a{:href => "index-2-purple.html"}
                          %span Purple
              %li.menu-level-0.current-menu-ancestor
                %a{:href => "ceremony.html"}
                  %span WEDDING
                %ul.submenu-1
                  %li.menu-level-1
                    %a{:href => "ceremony.html"}
                      %span Ceremony
                  %li.menu-level-1
                    %a{:href => "party.html"}
                      %span The Party
                  %li.menu-level-1
                    %a{:href => "bridesmaids.html"}
                      %span Bridesmaids
                  %li.menu-level-1
                    %a{:href => "groomsmen.html"}
                      %span Groomsmen
                  %li.menu-level-1
                    %a{:href => "our-story.html"}
                      %span Our Story
                  %li.menu-level-1.current-menu-item
                    %a{:href => "blog.html"}
                      %span Wedding Blog
                  %li.menu-level-1
                    %a{:href => "contact.html"}
                      %span Contact
              %li.menu-level-0
                %a{:href => "accomodation.html"}
                  %span ACCOMODATION
              %li.menu-level-0
                %a{:href => "rsvp.html"}
                  %span RSVP
              %li.menu-level-0
                %a{:href => "registry.html"}
                  %span REGISTRY
              %li.menu-level-0
                %a{:href => "gallery.html"}
                  %span GALLERY
          .topmenu_line_bot
          / / topmenu
          / content
          .content
            / posts list
            .posts_list
              .post-item
                .post-title
                  %h2
                    %a{:href => "blog-details.html"} Planning for the wedding is on...
                .frame_box.frame_big
                  %a{:href => "blog-details.html"}
                    %img{:alt => "", :height => "192", :src => "images/temp/post_img_4.jpg", :width => "450"}/
                  %span.img_tl
                  %span.img_tr
                  %span.img_bl
                  %span.img_br
                .post-meta
                  %span.post-author
                    Posted by:
                    %a.author{:href => "#"} MAYRA
                  %span.post-date MAY 5th, 2012
                  %a.link-comments{:href => "blog-details.html"} 6 Comments
                .post-descr
                  %p
                    Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.
                    %strong Cupid works in mysterious ways
                    mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibul...
                .post-more
                  %a.button_link{:href => "blog-details.html"}
                    %span READ MORE
              .post-item
                .post-title
                  %h2
                    %a{:href => "blog-details.html"} This is our “Honey Moon” boat, here we’re going to spend 2 weeks
                .frame_box.frame_big
                  %a{:href => "blog-details.html"}
                    %img{:alt => "", :height => "192", :src => "images/temp/post_img_5.jpg", :width => "450"}/
                  %span.img_tl
                  %span.img_tr
                  %span.img_bl
                  %span.img_br
                .post-meta
                  %span.post-author
                    Posted by:
                    %span.author JAMES
                  %span.post-date MAY 5th, 2012
                  %a.link-comments{:href => "blog-details.html"} 10 Comments
                .post-descr
                  %p
                    Lirus puctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.
                    %strong Trynd works in mysterious ways
                    mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibul...
                .post-more
                  %a.button_link{:href => "blog-details.html"}
                    %span READ MORE
            / / posts list
            / pagination
            .tf_pagination
              .inner
                %a.page_prev{:href => "#"}
                  %span PREV
                %span.page-numbers.page_current 1
                %a.page-numbers{:href => "blog.html"} 2
                %a.page-numbers{:href => "blog.html"} 3
                %a.page-numbers{:href => "blog.html"} 4
                %a.page-numbers{:href => "blog.html"} 5
                %a.page_next{:href => "#"}
                  %span NEXT
            / / pagination
          / / content
        .main_bot
      / / container
      %footer
        .container
          %p.copyright
            HITCHED - Wedding WordPress theme
            %span.icon_heart ♥
            Made with love at
            %a{:href => "http://themefuse.com/"} THEMEFUSE